__pycache__
certification/cap_server/models/__pycache__
certification/cap_server/forms/__pycache__
certification/cap_server/modelsForm/__pycache__
certification/cap_server/__pycache__
certification/cap_server/migrations/__pycache__
certification/certification/__pycache__
certification/cap_server/repository/__pycache__
certification/static/
certification/static/temp
certification/files/*
certification/certification/settings.py
venv
certification/certification/.env
env
Pipfile
Pipfile.lock
*.bak
*.sqlite3
.idea