{% block content %}
<head>
    <link rel="stylesheet" href="{{ static ('css/certificateA4_rus.css')}}">
    <meta charset="UTF-8">
    <title>{{ form.model.model_name }}_{{ form.serial_number }}_{{ form.date_time }}</title>
    <link rel="icon" href="{{ static ('favicon.ico')}}">
</head>
<body>
<div class="page">
    <header>
	    <img id = "header_img" src="{{ static ('colon_title_eng.png')}}">
    </header>
    <hr/>
        <h1>Ultrasonic transducer {{form.model.model_name}}
        {% if form.model.model_postfix == none %}
            {% else -%}
            {{ form.model.model_postfix }}
            {% endif %}
        </h1>
        <h2>Serial number: {{form.serial_number}}</h2>
        <h2>PASSPORT</h2>
    <hr/>
        <h2>Intended use</h2>
        <p>
            {{form.model.intended_use_eng}}
        </p>
    <hr/>
        <h2>Main technical specifications</h2>
        <table>
        <td id = "tableMain_left_img">
        <table id = "tableMain">
            <tbody>
                    <tr>
                        <td>Type of generated wave mode:</td>
                        <td>

                            {% if form.base.wave_type == 'sh' %}
                                Shear horizontal
                            {% elif form.base.wave_type == 'l' %}
                                Longitudinal
                            {% else %}
                                -
                            {% endif %}

                        </td>
                    </tr>
                    <tr>
                        <td>Nominal frequency:</td>
                        <td>{{form.base.afc_frequency_maximum | round(0, 'common') }} kHz</td>
                    </tr>
                    <tr>
                        <td>Operating frequency:</td>
                        <td>({{form.base.operating_frequency | round(0, 'common') }} &plusmn; 10) kHz</td>
                    </tr>
                    <tr>
                        <td>Double conversion ratio:</td>
                        <td>70 dB or better</td>
                    </tr>
                    <tr>
                        <td>Relative frequency bandwidth:</td>
                        <td>> {{form.base.relative_transmission_bandwidth | round(0, 'common') }} %</td>
                    </tr>
                    <tr>
                        <td>Electric capacity of the piezoelectric element:</td>
                        <td>({{form.base.capacity | round(0, 'common') }} &plusmn; {{form.ranges.capacity | round(0, 'common') }}) pF</td>
                    </tr>
                    <tr>
                        <td>Maximum excitation pulse voltage:</td>
                        <td>< {{form.base.maximum_excitation_pulse_voltage | round(0, 'common') }} V</td>
                    </tr>
                <tr>
                    <tr>
                        <td>Connector type:</td>
                        <td>
                            {% if form.base.connector == None %}
                                non-wired
                            {% else %}
                                {{form.base.connector}}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Overall dimensions:</td>
                        <td>< {{ form.base.height | round(0, 'common')}}&#215;&#216;{{ form.base.diameter | round(0, 'common')}} mm

                        </td>
                    </tr>
                    <tr>
                        <td>Weight:</td>
                        <td>< {{form.base.weight | round(0, 'common')}} g</td>
                    </tr>
                <tr>
                    <td>Operating temperature range:</td>
                    <td>{{form.base.temp_down | round(0, 'common')}} &deg;C to +{{form.base.temp_up | round(0, 'common')}} &deg;C</td>
                </tr>
            </tbody>
        </table>
        </td>
        <td id = "tableMain_right_img"><img id="transducer_img" src="{{ form.model.photo.url }}"></td>
        </table>

    <hr/>

    <h2>Measurement conditions and equipment used</h2>

        <table id = "tableMeasurement" border="0">
            <tbody>
                <tr>
                    <td colspan="2">
                        <p>
                        The measurement of the tested DPC transducer characteristics occurs in combination with the reference DPC transducer,
                        whereby both transducers are connected by their tips with the nip force of 4 N. The tested transducer operates as a trans-
                        mitter and the reference transducer operates as a receiver of ultrasonic waves. The double conversion ratio <i>S<sub>rel</sub></i>
                        is determined as a ratio value between the received signal amplitude on the reference transducer and excitation pulse amplitude
                        on the tested transducer.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td  class="tableMeasurement_td"><b>Excitation signal:</b></td>
                    <td>
                        square pulse with the amplitude {{ form.settings.zonder_amplitude }} V, duration 10 μs, equal to half period of the nominal.
                    </td>
                </tr>
                <tr>
                    <td class="tableMeasurement_td"><b>Receiver parameters:</b></td>
                    <td>
                        integrating amplifier with the bandwidth
                        0.01 Hz – 400 kHz, input resistance 4 kΩ, equivalent input
                        noise voltage 10 &mu;V.
                    </td>
                </tr>
                <tr>
                    <td  class="tableMeasurement_td"><b>Environmental conditions:</b></td>
                    <td>temperature {{ form.temp | round(0, 'common') }} &deg;C, rel. {{ form.humid  | round(0, 'common') }} %.</td>
                </tr>
            </tbody>
        </table>
    <hr/>

    <h2><b>Measured characteristics</b></h2>
        <table id="tableMeasured" border="0">
            <tbody>
            <tr>
                <td rowspan="3"><p class="vertical">Amplitude,&#160;mV</p></td>
                <td><h2>Shape of the measured pulse</h2></td>
                <td rowspan="3"><p class="vertical">Level,&#160;rel.un.</p></td>
                <td><h2>Amplitude-frequency response</h2></td>
            </tr>
            <tr>
                <td>
                    <img id="measured_img" src="{{ static (osc_dir + (form.id | string) + '.png')}}">
                </td>
                <td>
                    <img id="measured_img" src="{{ static (fft_dir + (form.id | string) + '.png')}}">
                </td>
            </tr>
            <tr>
                <td>Time, μs</td>
                <td>Frequency, kHz</td>
            </tr>
            </tbody>
        </table>
        <table id="tableMeasuredDown">
            <tbody>
                <tr>
                    <td>Echo pulse duration &tau;:</td>
                    <td><b>{{form.echo_pulse_duration | round(1, 'common')}}</b>  &mu;s</td>

                    <td>Operating frequency <i>&fnof;<sub>c</sub></i>:</td>
                    <td><b>&nbsp;{{form.operating_frequency | round(1, 'common')}}</b> kHz</td>
                </tr>
                <tr>
                    <td>AFC frequency maximum <i>&fnof;<sub>p</sub></i>:</td>
                    <td><b>{{form.afc_frequency_maximum | round(1, 'common')}}</b> kHz</td>

                    <td>Double conversion ratio AFCmaximum <i>S<sub>rel</sub></i>:</td>
                    <td><b>{{form.afc_maximum_s_rel | round(1, 'common')}}</b> dB</td>
                </tr>

                <tr>
                    <td>Lower AFC frequency <i>&fnof;<sub>l</sub></i>:</td>
                    <td><b>{{form.lower_afc_frequency | round(1, 'common')}}</b> kHz</td>

                    <td>Transducer delay <i>t<sub>d</sub></i>: </td>
                    <td><b>&nbsp;{{form.echo_pulse_delay | round(1, 'common')}}</b>  &mu;s</td>
                </tr>

            <tr>
                    <td>Upper AFC frequency <i>&fnof;<sub>u</sub></i>:</td>
                    <td><b>{{form.upper_afc_frequency | round(1, 'common')}}</b> kHz</td>

                    <td>Relative frequency bandwidth (at -6 dB) <i>B<sub>w</sub></i>:</td>
                    <td><b>&nbsp;{{form.relative_transmission_bandwidth | round(1, 'common')}}</b> %</td>
            </tr>

            </tbody>
        </table>
        <hr/>

        <table id="tablePerformedApproved" border="0">
            <tbody>
                <tr>
                    <tr>
                    <td>
                        <p id="result">Permission for operation:
                        {% if form.result -%}
                                YES
                            {% else -%}
                                NO
                            {% endif %}
                        </p>
                    </td>
                        <td>
                            {% if form.model.status == 'S' %}
                                Base capsule: {{ form.serial_number_b }}
                            {% else %}

                            {% endif %}
                        </td>
                        <td id="performed">Date of sale</td>
                    </tr>
                    <td id="performed">Testing performed by: <b>{{ form.operator.name_eng }}</b></td>
                    <td id="performed">Approved by: <b>{{ form.controller.name_eng }}</b></td>

                </tr>
                <tr>
                    <td colspan="2"><p id="MP">{{ form.date_time.strftime('%Y-%m-%d')}}</p></td>
                    <td id="signature"></td>
                </tr>
                <tr>
                    <td><p>	&copy;Acoustic Control Systems - ACS Group</p></td>
                    <td><p id="garant">Warranty period 3 months from the date of sale </p></td>
                </tr>
            </tbody>
        </table>
    <br>

    <table>


    </table>


</div>
</body>
{% endblock %}